#export-btn {
  background: #04ab46;
  color: white;
  border: none;
  padding: 10px;
  display: inline-block;
  margin-bottom: 10px;
  cursor: pointer;
}

#cell-container {
  display: flex;
  flex-direction: column;
}

.cell-row {
  display: flex;
}

.cell {
  width: 80px;
  height: 40px;
  border: 1px solid #ccc;
  outline: none;
  text-align: center;
  vertical-align: middle;
}

.cell.header {
  background-color: rgb(231, 241, 184);
}

.cell.header.active {
  background: lightblue;
  color: white;
}
